#timer{
    color: #11999E;
    border-top: 1px solid #11999E;
    font-size: 16px;
}

.btn-result {
    background-color: #11999E;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    margin: 20px;
    margin-bottom: 8%;
}